.chart-area {
    .tick {
        text {
            font-family: "Merriweather Sans Variable", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;

            color: #000000;

        }

        line {
            stroke-width: 1px;
            stroke: #85AFB5;
            stroke-dasharray: 8px;
        }

        &:first-of-type {
            line {
                stroke-width: 2px;
                stroke: #A7306F;
                stroke-dasharray: none;
            }
        }

        &:last-of-type {
            line {
                stroke-width: 2px;
                stroke: #87C3DA;
                stroke-dasharray: none;
            }
        }
    }
}