:root {
  font-family: 'Merriweather Variable', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#app {
  width: 100%;
  background-image: url("./grid_tile.svg"), linear-gradient(#FFFFFB, #FFFFFB);
}

header {
  box-sizing: border-box;

  padding-top: 80px;
  padding-bottom: 40px;
  gap: 40px;
  isolation: isolate;

  background: #FFEAF8;
  border-bottom: 1px solid #330022;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  color: #330022;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: auto;

  max-width: 600px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0;
  gap: 40px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

figure {
  box-sizing: border-box;
  margin: 0;

  font-family: 'Merriweather Sans Variable', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;

  width: 600px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

}