:root {
  font-family: 'Merriweather Variable', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bar-color: #A3006D;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a, a:visited {
  color: #330022;
}

#app {
  width: 100%;
  background-image: url("./grid_tile.svg"), linear-gradient(#FFFFFB, #FFFFFB);
}

header {
  box-sizing: border-box;

  padding-top: 80px;
  padding-bottom: 40px;
  isolation: isolate;

  background: #FFEAF8;
  border-bottom: 1px solid #330022;

  color: #330022;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  margin: auto;

  max-width: 600px;
}

.lede {
  font-family: 'Merriweather Variable';
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;

  color: #330022;

  flex: none;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;

}

.metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 10px;


  flex: none;
  align-self: stretch;
  flex-grow: 0;
  z-index: 4;

}

.avatar {
  box-sizing: border-box;

  width: 48px;
  height: 48px;

  border: 1px solid rgba(51, 0, 34, 0.8);
  border-radius: 24px;

  flex: none;
  flex-grow: 0;

}

.author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;


  /* Inside auto layout */
  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

.byline {
  font-family: 'Merriweather Sans Variable';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;

  color: #330022;

  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

.publication-date {
  font-family: 'Merriweather Sans Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #330022;

  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0;
  gap: 40px;

  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

figure {
  box-sizing: border-box;
  margin: 0;

  font-family: 'Merriweather Sans Variable', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 20px;

  width: 600px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  flex: none;
  flex-grow: 0;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  flex: none;
  align-self: stretch;
  flex-grow: 0;

}

button {
  box-sizing: border-box;

  border: 1px solid #000000;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: none;
  flex-grow: 0;

  background-color: #FFFFFF;

  &.icon {
    width: 32px;
    height: 32px;
    border-radius: 24px;
    padding: 0;

    &:hover,
    &:focus {
      background-color: color-mix(in srgb, #000000 10%, #FFFFFF 100%);
    }

  }

}

.label {
  font-family: 'Merriweather Sans Variable';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  flex: none;
  flex-grow: 1;

}

.data-source {
  font-family: 'Merriweather Sans Variable';
  font-style: italic;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;

  color: #000000;

  flex: none;
  flex-grow: 0;

}